// colours
$color-primary: #2bcbba;
$color-secondary: #fed330;
$color-black: #333;
$color-light-grey: #f6f6f6;
$color-medium-grey: #dadada;
$color-blue: #4b7bec;

// margins
$small: 1rem;
$medium: 2rem;
$large: 4rem;

// other
$box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
