.list {
  list-style: none;
  margin-bottom: 3rem;

  &__item {
    background-color: $color-light-grey;
    // border-radius: 0.4rem;
    display: flex;
    padding: 1.2rem;
    justify-content: space-between;
    // margin: $medium 0;
    transition: background-color 0.2s ease;
    width: 100%;

    &:hover {
      background-color: darken($color-light-grey, 5%);
    }
  }

  &__link {
    color: $color-blue;
    display: block;
    text-decoration: none;

    &:not(:last-child) {
      border-bottom: 1px solid $color-medium-grey;
    }
  }

  &__title {
    font-weight: 600;
  }
}
