.search-box {
  display: flex;

  @include respond(mobile) {
    flex-direction: column;
  }

  &__input {
    background-color: $color-light-grey;
    border: none;
    border-radius: 0.6rem 0 0 0.6rem;
    font-family: inherit;
    font-size: inherit;
    padding: 1.2rem;

    @include respond(mobile) {
      border-radius: 0.6rem 0.6rem 0 0;
    }
  }

  &__button {
    background-color: $color-primary;
    border: none;
    border-radius: 0 0.6rem 0.6rem 0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    padding: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.2s ease;

    @include respond(mobile) {
      border-radius: 0 0 0.6rem 0.6rem;
    }

    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }
}
