.u-spinner {
  animation: spin 1s linear infinite;
  border: 0.5rem solid $color-light-grey;
  border-top-color: $color-primary;
  border-radius: 50%;
  height: 5.4rem;
  width: 5.4rem;
}

.u-absolute-center {
  position: absolute;
  // centre
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-margin-top-large {
  margin-top: $large;
}

.u-margin-top-medium {
  margin-top: $medium;
}

.u-margin-top-small {
  margin-top: $small;
}

.u-hr {
  background-color: $color-medium-grey;
  border: none;
  height: 1px;
  margin: 1.8rem 0;

  &--primary {
    background-color: $color-primary;
    height: 2px;
  }
}
